@charset "UTF-8";

/*
[PH Toolbox] Self-contained styles
*/

:root{
    --ph__brand--primary: #FF9900;
    --ph__brand--secondary: "";
    --ph__white: hsl(0 0% 98%);
    --ph__black: hsl(0 0% 2%);
}

.ph__root {
    box-sizing: border-box;
    *::before,
    *,
    *::after {
        box-sizing: inherit;
        margin: 0;
        padding: 0;
    }

    h1,h2,h3,h4,h5,h6 {
        margin: 0 0 1em;
    }
    
    p,ul,ol {
        margin-bottom: 2em;
        color: var(--ph__white);
    }
}